<!DOCTYPE html>
<html>
	<head>
		<title>QR Generator</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
   	</head>

	<style>
		#finishAttendance {
			  border-radius: 4px;
			  background-color: #f4511e;
			  border: none;
			  color: #FFFFFF;
			  text-align: center;
			  font-size: 16px;
			  padding: 20px;
			  width: 200px;
			  transition: all 0.5s;
			  cursor: pointer;
			  margin: 5px;
			}
			#finishAttendance span {
			  cursor: pointer;
			  display: inline-block;
			  position: relative;
			  transition: 0.5s;
			}

			#finishAttendance span:after{
			  content: '\00bb';
			  position: absolute;
			  opacity: 0;
			  top: 0;
			  right: -20px;
			  transition: 0.5s;	
			}
			#finishAttendance:hover span{
				padding-right: 25px;
			}
			#finishAttendance:hover span:after{
			  opacity: 1;
			  right: 0;	
			}

	</style>

	<body>
		<!-- <h1>{{faculty}}</h1> -->
		<h1>{{subj}}
		<div align="center" id="qrCode">
			{{{svg_string}}}
		</div>
	</br>
	<input id="finishAttendance" value="Stop Attendance">
<!-- 	<button id="finishAttendance"><span>Stop Attendance</span></button>
 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script>

		$(document).ready(function(){
			getNextQR();
			// 3 sec timer to get qrCode
			var tid = setInterval(getNextQR, 3000);

			function getNextQR() {
				$.get("/getNextQR/{{faculty}}/{{subj}}", function(data, status){
					
					$("#qrCode").empty();
					$("#qrCode").html(data.svg_string);
				});
			}
			
			$("#finishAttendance").click(function() {
				clearInterval(tid);
				window.location.replace("/");
			});

		});
	</script>

	</body>
</html>