<!DOCTYPE html>
<html>
	<head>
		<title>QR Generator</title>
	</head>

	<body>
		<h1>{{faculty}}</h1>
		<h3>{{subj}}
		<div align="center" id="qrCode">
			{{{svg_string}}}
		</div>
	</br>
	<input id="finishAttendance" value="Stop Attendance">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script>

		$(document).ready(function(){
			getNextQR();
			// 3 sec timer to get qrCode
			var tid = setInterval(getNextQR, 3000);

			function getNextQR() {
				$.get("/getNextQR/{{faculty}}/{{subj}}", function(data, status){
					
					$("#qrCode").empty();
					$("#qrCode").html(data.svg_string);
				});
			}
			
			$("#finishAttendance").click(function() {
				clearInterval(tid);
				window.location.replace("/");
			});

		});
	</script>

	</body>
</html>