<!DOCTYPE html>
<html>
	<head>
		<title>QR Generator</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
   	</head>

	<style>
		#finishAttendance {
			  border-radius: 4px;
			  background-color: #f4511e;
			  border: none;
			  color: #FFFFFF;
			  text-align: center;
			  font-size: 15px;
			  padding: 5px;
			  width: 200px;
			  transition: all 0.5s;
			  cursor: pointer;
			  margin: 0px;
			}
	</style>

	<body>
		<!-- <h1>{{faculty}}</h1> -->
		<!--h1>{{subj}} </h1> -->
		<div align="center" id="qrCode">
			{{{svg_string}}}
		</div>
		<div align="center">
			<input id="finishAttendance" value="Stop Attendance">
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script>

		$(document).ready(function(){
			getNextQR();
			// 3 sec timer to get qrCode
			var tid = setInterval(getNextQR, 3000);

			function getNextQR() {
				$.get("/getNextQR/{{faculty}}/{{subj}}", function(data, status){
					
					$("#qrCode").empty();
					$("#qrCode").html(data.svg_string);
				});
			}
			
			$("#finishAttendance").click(function() {
				clearInterval(tid);
				window.location.replace("/faculty/{{faculty}}");
			});

		});
	</script>

	</body>
</html>